.header{
    -fx-background-color: linear-gradient(to right ,#098c53,#286155);
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right ,#0f6789,#286155) ;
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.nav-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 15px;
}

.bodybg-customer {
    -fx-background-image: url("../icon/output-onlinepngtools.png");
    -fx-background-size: 100% 100%; /* Optional: Adjust as needed */

}

.bodybg-payment{
    -fx-background-image: url("../icon/customers.png");
    -fx-background-size: 100% 100%; /* Optional: Adjust as needed */
}