.header{
    -fx-background-color: linear-gradient(to top right ,#098c53,#286155);
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right ,#0f6789,#286155) ;
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.nav-btn:focused{
    -fx-background-color:#fff;
    -fx-text-fill: #000;
}

.nav-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.nav-logOutBtn:hover{
    -fx-background-color: #9e0606;
    -fx-text-fill: #000;
    -fx-border-color: #9e0606;
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 15px;
}

.round-box{
    -fx-background-radius: 80%;
    -fx-border-radius: 80%;
    -fx-border-width: 5px;
}




.custom-progress-indicator .bar {
    -fx-background-color: White; /* Color of the progress bar */
    -fx-min-width: 50px;         /* Minimum width of the progress bar */
    -fx-pref-width: 150px;       /* Preferred width of the progress bar */
}

.bodybg-customer {
    -fx-background-image: url("../icon/business-report.jpg");
    -fx-background-size: 100% 100%; /* Optional: Adjust as needed */

}